{:nrepl {:port 8777}

 :source-paths ["src" "test"]

 :dependencies
 [[reagent "1.1.0"]
  [re-frame "1.2.0"]
  [cider/cider-nrepl "0.28.3"]
  [cljs-ajax "0.8.4"]
  [day8.re-frame/http-fx "0.2.4"]
  [metosin/reitit "0.5.18"]
  [day8.re-frame/async-flow-fx "0.3.0"]

  [binaryage/oops "0.7.2"]
  [binaryage/devtools "1.0.4"]
  [re-frisk "1.5.2"]
  [camel-snake-kebab "0.4.2"]]

 :dev-http
 {8280 "resources/public"
  8290 "target/browser-test"}

 :builds
 {:app
  {:target     :browser
   ;:module-hash-names true
   :output-dir "resources/public/js/compiled"
   :asset-path "/js/compiled"
   :modules {:app {:init-fn re-frame-ethers-demo.core/init}}
   :closure-defines {;;https://shadow-cljs.github.io/docs/UsersGuide.html#shadow-env
                     re_frame_ethers_demo.config/etherscan_apikey #shadow/env ["ETHERSCAN_REFRAME_KEY" :default "default-etherscan-key"]}
   :devtools {:preloads [re-frisk.preload]}
   :release
    {:compiler-options {:optimizations :advanced
                        :infer-externs :auto
                        "re_frame.trace.trace_enabled_QMARK_" false
                        "re_frame_ethers_demo.config.debug_QMARK" false}}
   :dev
    {:compiler-options
     {:checked-arrays :warn
      :closure-defines {"re_frame.trace.trace_enabled_QMARK_" true
                        "re_frame_ethers_demo.config.debug_QMARK" true}}}}
  :browser-test {:target    :browser-test
                 :ns-regexp "-test$"
                 :runner-ns shadow.test.browser
                 :test-dir  "target/browser-test"}
  :karma-test {:target    :karma
               :ns-regexp "-test$"
               :output-to "target/karma-test.js"}}}
